<!DOCTYPE html>
<html>
<head>
	<title>WebApp Home Page</title>
</head>
<body ng-controller="WelcomeCtrl">

<!-- NAVIGATION BAR -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#/welcome" class="navbar-brand">GosuPvP.com</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#/welcome">Home</a></li>
			<li ng-click="logout()"><a href="#">Logout</a></li>
		</ul>
	</div>
</nav>

<!-- WELCOME -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Welcome to the squad!</h3>
			<h5>Signed in as {{username}}</h5>
		</div>
	</div>
</div>

<!-- HALL OF FAME -->
<div class="container hof">
	<h3 class="hof_heading">HALL OF FAME</h3>
	<table class="table table-striped">
		<tr>
			<th>#</th>
			<th>Pimp</th>
			<th style="text-align: right;">Amount</th>
		</tr>
		<tr ng-repeat="(index, famousPerson) in hallOfFame">
			<td>{{index+1}}</td>
			<td>{{famousPerson.name}}</td>
			<td style="text-align: right;">${{famousPerson.amount}}</td>
		</tr>
	</table>
</div>

<!-- ADMIN PANEL -->
<div ng-show="showAdminPanel">
	<!-- HALL OF FAME TEST CODE-->
	<p>Actual HoF Data: {{hallOfFame}}</p>
	<div class="container">
		<div class="btn btn-sm btn-primary">
			<!-- <a href="https://www.streamlabs.com/api/v1.0/authorize?client_id=sdGTj9jKWwjI1mlfu9jZf2AFxzJS99HxL7PWNKad&redirect_uri=http://localhost:8000&response_type=code&scope=donations.read+donations.create"> -->
			<!-- <a href="https://www.streamlabs.com/api/v1.0/authorize?client_id=sdGTj9jKWwjI1mlfu9jZf2AFxzJS99HxL7PWNKad&redirect_uri=http://localhost:8000&response_type=code&scope=donations.read+donations.create"> -->
			<a href="https://www.streamlabs.com/api/v1.0/authorize?client_id=sdGTj9jKWwjI1mlfu9jZf2AFxzJS99HxL7PWNKad&redirect_uri=https://angular-firebase-habib.herokuapp.com&response_type=code&scope=donations.read+donations.create">
				<span style="color:white">Step 1: Auth SL</span>
			</a>
		</div>
	</div>
	<div class="container">
		<button class="btn btn-sm btn-primary" ng-click="getStreamLabsToken()">
			Step 2: Get StreamLabs Token Using Code From URL
		</button>
	</div>
	<div class="container">
		<button class="btn btn-sm btn-primary" ng-click="getSLDonations()">
			Step 3: Update donations to database :)
		</button>
	</div>
	<div class="container">
		<h3>Donation data from database</h3>
		{{donationsData}}
	</div>
</div>

</body>
</html>
